$background2: white !default;
$base-spacing: 20px !default;
$container-width: 1190px !default;

body, html {
    height: 100%;
    background: $background2;
}

body {
    margin: 0;
    padding: 0;
}

a {
    transition: all .5s ease;
}

.container {
    max-width: $container-width - ($base-spacing * 2);
    margin: auto;
    padding: 0 $base-spacing;
}