$background2: white !default;
$base-spacing: 20px !default;

*, *:after, *:before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background: $background2;
}

body {
    margin: 0;
    padding: 0;
}

a {
    transition: all .5s ease;
}

.stripe {
    padding: $base-spacing 0;
    h1:first-child, h2:first-child {
        margin-top: 0;
    }
}