$background2: white !default;

*, *:after, *:before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background: $background2;
}

body {
    margin: 0;
    padding: 0;
}

a {
    transition: all .5s ease;
}