@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,600,800,900';

$font-colour: #333 !default;
$base-spacing: 20px !default;
$brand-secondary: #333 !default;
$brand-primary: #333 !default;

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: $font-colour;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    color: darken($font-colour, 10%);
    margin: ($base-spacing) 0 ($base-spacing);
    letter-spacing: 3px;
    text-transform: uppercase;
    &:after {
        content: " ";
        display: block;
        width: 10%;
        min-width: 100px;
        max-width: 200px;
        height: 0;
        border-bottom: 1px solid $brand-secondary;
        margin: $base-spacing / 2 auto $base-spacing auto;
    }
}

h2 {
    font-weight: 200;
    font-size: 2.6em;
    margin: ($base-spacing * 2.2) 0 $base-spacing;
}

h3 {
    font-weight: 200;
    font-size: 2.2em;
    margin: ($base-spacing * 2) 0 $base-spacing;
    color: $brand-secondary;
}

h4 {
    font-weight: 600;
    margin: ($base-spacing * 2) 0 $base-spacing;
}

h5 {
    font-size: 1em;
    font-weight: 600;
    margin: ($base-spacing * 2) 0 $base-spacing;
}

ul, ol, p {
    margin: ($base-spacing * 0.8) 0 $base-spacing;
}

p, li {
    letter-spacing: 1px;
}