@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,600,900';

$font-colour: #333 !default;
$base-spacing: 20px !default;
$brand-secondary: #333 !default;
$brand-primary: #333 !default;

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: $font-colour;
}

h1 {
    font-weight: 200;
    font-size: 3em;
    color: $brand-secondary;
    margin: ($base-spacing * 3) 0 $base-spacing;
}

h2 {
    font-weight: 200;
    font-size: 2.6em;
    margin: ($base-spacing * 2.2) 0 $base-spacing;
}

h3 {
    font-weight: 200;
    font-size: 2.2em;
    margin: ($base-spacing * 2) 0 $base-spacing;
    color: $brand-secondary;
}

h4 {
    font-weight: 600;
    margin: ($base-spacing * 2) 0 $base-spacing;
}

h5 {
    font-size: 1em;
    font-weight: 600;
    margin: ($base-spacing * 2) 0 $base-spacing;
}

ul, ol {
    margin: ($base-spacing * 0.8) 0 $base-spacing;
}

p, li {
    letter-spacing: 1px;
}