/**
* COLOURS
**************/
$brand-primary: #e74c3c;
$font-colour: #353c4f;
$brand-secondary: #1abc9c;

$background1: #ffffff;
$background2: #f0f0f0;

$border-color: darken(#f0f0f0, 20%);

/**
* WIDTHS AND SPACING
**************/
$container-width: 1190px;
$base-spacing: 40px;

/**
* DESIGN SPECIFIC
**************/
$face-size: 260px;