$base-spacing: 20px !default;
$brand-secondary: #333 !default;
$font-colour: #444 !default;
$background1: white !default;

.project {
    .description {
        @extend .stripe;
        text-align: center;
        p {
            width: 60%;
            margin: $base-spacing / 2 auto;
        }
        .image {
            width: 100%;
            padding: 6px;
            @extend .card;
            background: white;
            margin: $base-spacing * 2 0;
            img {
                max-width: 100%;
                margin: 0;
                display: block;
            }
        }
    }
    .tech-stack {
        @extend .stripe;
        background: $background1;
        text-align: center;
        .tool-icons {
            margin-bottom: $base-spacing * 2;
        }
    }
}

.project-footer {
    @extend .stripe;
    margin-bottom: -$base-spacing * 3;
    background: $brand-secondary;
    color: white;
    > h2 {
        color: white;
        text-align: center;
        font-weight: 200;
        margin-top: 0;
    }
    .project-list {
        @extend .container;
        h2, h3 {
            color: $font-colour;
        }
    }
}