$font-colour: #444 !default;

.technology {
    @extend .container;
    @extend .clearfix;
    text-align: center;
    section {
        @extend .card;
        background: white;
        padding: 20px;
        margin: $base-spacing 0;
        h2 {
            margin-top: 0;
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: 400;
        }
        .tool-icons {
            li {
                float: none;
                overflow: visible;
                position: relative;
                background-color: white;
                &:before {
                    display: block;
                    opacity: 1;
                    top: 20px;
                    left: 90px;
                    background: white;
                    color: #353c4f;
                    text-transform: lowercase;
                    width: 140px;
                    text-align: left;
                }
            }
        }
    }
}