.tech-label {
    position: absolute;
    display: block;
    z-index: 2;
    background: $font-colour;
    color: white;
    padding: 6px 12px;
    top: 63px;
    left: -56px;
    width: 200px;
    border-radius: 16px;
    opacity: 0;
    transition: opacity .5s ease;
    text-align: center;
}

.tool-icons {
    @extend .clearfix;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    li {
        position: relative;
        display: inline-block;
        width: 75px;
        height: 75px;
        background-color: $background2;
        border-radius: 50%;
        background-size: 50px 50px !important;
        transition: all .5s ease;
        a {
            display: block;
            height: 100%;
            width: 100%;
        }
        &:hover {
            background-color: $background1;
            background-size: 75px 75px !important;
            &:before {
                opacity: 1;
            }
        }
        &:before {
            @extend .tech-label;
        }
        &.php {
            @include background-2x('../img/dev-tools/php', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "PHP";
            }
        }
        &.elasticsearch {
            @include background-2x('../img/dev-tools/elasticsearch', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "ELASTIC SEARCH";
            }
        }
        &.mongodb {
            @include background-2x('../img/dev-tools/mongodb', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "MONGODB";
            }
        }
        &.memcached {
            @include background-2x('../img/dev-tools/memcached', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "MEMCACHED";
            }
        }
        &.mysql {
            @include background-2x('../img/dev-tools/mysql', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "MYSQL";
            }
        }
        &.rabbitmq {
            @include background-2x('../img/dev-tools/rabbitmq', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "RABBIT MQ";
            }
        }
        &.laravel {
            @include background-2x('../img/dev-tools/laravel', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "LARAVEL";
            }
        }
        &.javascript {
            @include background-2x('../img/dev-tools/javascript', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "JAVASCRIPT";
            }
        }
        &.sass {
            @include background-2x('../img/dev-tools/sass', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "SASS";
            }
        }
        &.grunt {
            @include background-2x('../img/dev-tools/grunt', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "GRUNT";
            }
        }
        &.npm {
            @include background-2x('../img/dev-tools/npm', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "NPM";
            }
        }
        &.deployer {
            @include background-2x('../img/dev-tools/deployer', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "DEPLOYER";
            }
        }
        &.bamboo {
            @include background-2x('../img/dev-tools/bamboo', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "BAMBOO";
            }
        }
        &.jira {
            @include background-2x('../img/dev-tools/jira', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "JIRA";
            }
        }
        &.gulp {
            @include background-2x('../img/dev-tools/gulp', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "GULP";
            }
        }
        &.android {
            @include background-2x('../img/dev-tools/android', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "ANDROID";
            }
        }
        &.nodejs {
            @include background-2x('../img/dev-tools/nodejs', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "NODE JS";
            }
        }
        &.codeigniter {
            @include background-2x('../img/dev-tools/codeigniter', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "CODE IGNITER";
            }
        }
        &.composer {
            @include background-2x('../img/dev-tools/composer', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "COMPOSER";
            }
        }
        &.jquery {
            @include background-2x('../img/dev-tools/jquery', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "JQUERY";
            }
        }
        &.amazons3 {
            @include background-2x('../img/dev-tools/amazons3', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "AMAZON S3";
            }
        }
        &.java {
            @include background-2x('../img/dev-tools/java', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "JAVA";
            }
        }
        &.html5 {
            @include background-2x('../img/dev-tools/html5', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "HTML 5";
            }
        }
        &.css3 {
            @include background-2x('../img/dev-tools/css3', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "CSS3";
            }
        }
        &.gradle {
            @include background-2x('../img/dev-tools/gradle', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "GRADLE";
            }
        }
        &.sqlite {
            @include background-2x('../img/dev-tools/sqlite', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "SQLITE";
            }
        }
        &.sqlserver {
            @include background-2x('../img/dev-tools/sqlserver', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "SQL SERVER";
            }
        }
        &.sql {
            @include background-2x('../img/dev-tools/sql', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "SQL";
            }
        }
        &.kibana {
            @include background-2x('../img/dev-tools/kibana', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "KIBANA";
            }
        }
        &.beanstalkd {
            @include background-2x('../img/dev-tools/beanstalkd', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "BEANSTALKD";
            }
        }
        &.redis {
            @include background-2x('../img/dev-tools/redis', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "REDIS";
            }
        }
        &.amazonsqs {
            @include background-2x('../img/dev-tools/amazonsqs', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "AMAZON SQS";
            }
        }
        &.git {
            @include background-2x('../img/dev-tools/git', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "GIT";
            }
        }
        &.bitbucket {
            @include background-2x('../img/dev-tools/bitbucket', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "BITBUCKET";
            }
        }
        &.github {
            @include background-2x('../img/dev-tools/github', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "GITHUB";
            }
        }
        &.gitlab {
            @include background-2x('../img/dev-tools/gitlab', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "GITLAB";
            }
        }
        &.ubuntu {
            @include background-2x('../img/dev-tools/ubuntu', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "UBUNTU";
            }
        }
        &.centos {
            @include background-2x('../img/dev-tools/centos', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "CENTOS";
            }
        }
        &.apache {
            @include background-2x('../img/dev-tools/apache', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "APACHE";
            }
        }
        &.nginx {
            @include background-2x('../img/dev-tools/nginx', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "NGINX";
            }
        }
        &.letsencrypt {
            @include background-2x('../img/dev-tools/letsencrypt', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "LETSENCRYPT";
            }
        }
        &.slim {
            @include background-2x('../img/dev-tools/slim', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "SLIM";
            }
        }
        &.wordpress {
            @include background-2x('../img/dev-tools/wordpress', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "WORDPRESS";
            }
        }
        &.express {
            @include background-2x('../img/dev-tools/express', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "EXPRESS";
            }
        }
        &.less {
            @include background-2x('../img/dev-tools/less', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "LESS";
            }
        }
        &.bower {
            @include background-2x('../img/dev-tools/bower', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "BOWER";
            }
        }
        &.browserify {
            @include background-2x('../img/dev-tools/browserify', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "BROWSERIFY";
            }
        }
        &.webpack {
            @include background-2x('../img/dev-tools/webpack', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "WEBPACK";
            }
        }
        &.newrelic {
            @include background-2x('../img/dev-tools/newrelic', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "NEW RELIC";
            }
        }
        &.subversion {
            @include background-2x('../img/dev-tools/subversion', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "SUBVERSION";
            }
        }
        &.lumen {
            @include background-2x('../img/dev-tools/lumen', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "LUMEN";
            }
        }
        &.phpunit {
            @include background-2x('../img/dev-tools/phpunit', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "PHPUNIT";
            }
        }
        &.angular {
            @include background-2x('../img/dev-tools/angular', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "ANGULAR";
            }
        }
        &.react {
            @include background-2x('../img/dev-tools/react', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "REACT";
            }
        }
        &.vagrant {
            @include background-2x('../img/dev-tools/vagrant', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "VAGRANT";
            }
        }
        &.jenkins {
            @include background-2x('../img/dev-tools/jenkins', 'png', 75px, 75px, center center, no-repeat);
            &:before {
                content: "JENKINS";
            }
        }
    }
}