$background1: white !default;
$font-colour: #444 !default;
$brand-secondary: #333 !default;
$base-spacing: 20px !default;

.projects {
    @extend .stripe;
    background: $background1;
    p {
        text-align: center;
    }
}

.project-list {
    @extend .clearfix;
    text-align: center;
    article {
        @extend .card;
        display: inline-block;
        width: 280px;
        margin: 20px;
        background: $background1;
        .image {
            display: flex;
            width: 100%;
            height: 170px;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            img {
                max-width: 100%;
                height: auto;
                transition: max-width .5s ease;
            }
            &:hover {
                img {
                    max-width: 500px;
                    margin: auto;
                }
            }
        }
        h2 {
            font-size: 1em;
            margin: 12px 0 0 0;
            text-align: center;
            color: $font-colour;
            font-weight: 400;
        }
        h3 {
            font-size: 0.8em;
            text-transform: uppercase;
            margin: 0 0 12px 0;
            text-align: center;
            font-weight: 400;
        }
        .tool-icons {
            margin-top: 5px;
            text-align: center;
            padding: 12px 6px;
            li {
                float: none;
                display: inline-block;
                width: 30px;
                height: 30px;
                background-size: 100% 100% !important;
                margin: 0 2px;
                &:first-child {
                    margin-left: 0;
                }
                &:hover {
                    background-size: 200% 200% !important;
                }
            }
        }
        @media(max-width: $breakpoint-sm) {
            margin: 20px 0 20px 0;
            .tool-icons {
                padding: 0;
                li {
                    width: 25px;
                    height: 25px;
                    margin: 0;
                }
            }
        }
    }
}